# Pandas

In [1]:
import pandas as pd

Series

Like a column in a table/data frame

In [2]:
#creating a series using list
days=['Monday', 'Tuesday','Wednesday','Thrusday','Friday','Saturday','Sunday']

my_series=pd.Series(days,index=range(1,8))
print(my_series)
type(my_series)

1       Monday
2      Tuesday
3    Wednesday
4     Thrusday
5       Friday
6     Saturday
7       Sunday
dtype: object

pandas.core.series.Series

In [3]:
#creating a series using dictionaries 
dict={'1':'Monday', '2':'Tuesday','3':'Wednesday','4':'Thrusday','5':'Friday','6':'Saturday','7':'Sunday'}

ser2= pd.Series(dict)
ser2

1       Monday
2      Tuesday
3    Wednesday
4     Thrusday
5       Friday
6     Saturday
7       Sunday
dtype: object

Dataframe

In [4]:
#creating a dataframe using dictionary
max_temp=[18,19,20,21,22,16,21]
min_temp=[10,13,12,9,10,9,8]
event=['rain','thunderstorm','rain','sunny','fog','fog','rain']
windspeed=[10,14,8,14,18,11,14]

weather={'Day':days,'Max Temperature':max_temp,'Min Temperature':min_temp,'Windspeed':windspeed,'Event':event}
df=pd.DataFrame(weather,index=range(1,8))
df

         Day  Max Temperature  Min Temperature  Windspeed         Event
1     Monday               18               10         10          rain
2    Tuesday               19               13         14  thunderstorm
3  Wednesday               20               12          8          rain
4   Thrusday               21                9         14         sunny
5     Friday               22               10         18           fog
6   Saturday               16                9         11           fog
7     Sunday               21                8         14          rain

# Exporting a dataframe to a CSV file

In [5]:
df.to_csv('weather data.csv')

# Importing From a CSV file

In [6]:
new_df=pd.read_csv('weather data.csv')

In [7]:
#note the double indexing in output
new_df

,Unnamed: 0,Day,Max Temperature,Min Temperature,Windspeed,Event
0,1,Monday,18,10,10,rain
1,2,Tuesday,19,13,14,thunderstorm
2,3,Wednesday,20,12,8,rain
3,4,Thrusday,21,9,14,sunny
4,5,Friday,22,10,18,fog
5,6,Saturday,16,9,11,fog
6,7,Sunday,21,8,14,rain

In [8]:
new_df.shape

(7, 6)

In [9]:
new_df.head(3)

,Unnamed: 0,Day,Max Temperature,Min Temperature,Windspeed,Event
0,1,Monday,18,10,10,rain
1,2,Tuesday,19,13,14,thunderstorm
2,3,Wednesday,20,12,8,rain

In [10]:
new_df.tail(2)

   Unnamed: 0       Day  Max Temperature  Min Temperature  Windspeed Event
5           6  Saturday               16                9         11   fog
6           7    Sunday               21                8         14  rain

In [11]:
new_df.columns

Index(['Unnamed: 0', 'Day', 'Max Temperature', 'Min Temperature', 'Windspeed',
       'Event'],
      dtype='object')

In [12]:
new_df.Event

0            rain
1    thunderstorm
2            rain
3           sunny
4             fog
5             fog
6            rain
Name: Event, dtype: object

In [13]:
new_df[['Event','Windspeed']]
#note the double quotes

          Event  Windspeed
0          rain         10
1  thunderstorm         14
2          rain          8
3         sunny         14
4           fog         18
5           fog         11
6          rain         14

# Operations on dataframe

In [14]:
new_df.max()

Unnamed: 0                    7
Day                   Wednesday
Max Temperature              22
Min Temperature              13
Windspeed                    18
Event              thunderstorm
dtype: object

In [16]:
new_df[['Windspeed','Event']].max()

Windspeed              18
Event        thunderstorm
dtype: object

In [18]:
new_df[new_df['Windspeed']>10]

,Unnamed: 0,Day,Max Temperature,Min Temperature,Windspeed,Event
1,2,Tuesday,19,13,14,thunderstorm
3,4,Thrusday,21,9,14,sunny
4,5,Friday,22,10,18,fog
5,6,Saturday,16,9,11,fog
6,7,Sunday,21,8,14,rain

In [19]:
new_df.describe()

       Unnamed: 0  Max Temperature  Min Temperature  Windspeed
count    7.000000         7.000000         7.000000   7.000000
mean     4.000000        19.571429        10.142857  12.714286
std      2.160247         2.070197         1.772811   3.302236
min      1.000000        16.000000         8.000000   8.000000
25%      2.500000        18.500000         9.000000  10.500000
50%      4.000000        20.000000        10.000000  14.000000
75%      5.500000        21.000000        11.000000  14.000000
max      7.000000        22.000000        13.000000  18.000000

In [20]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7 non-null      int64
 1   Day              7 non-null      object
 2   Max Temperature  7 non-null      int64
 3   Min Temperature  7 non-null      int64
 4   Windspeed        7 non-null      int64
 5   Event            7 non-null      object
dtypes: int64(4), object(2)
memory usage: 464.0+ bytes

In [21]:
new_df.corr()

                 Unnamed: 0  Max Temperature  Min Temperature  Windspeed
Unnamed: 0         1.000000         0.186339        -0.696311   0.373815
Max Temperature    0.186339         1.000000        -0.071362   0.588597
Min Temperature   -0.696311        -0.071362         1.000000  -0.219621
Windspeed          0.373815         0.588597        -0.219621   1.000000

In [22]:
import numpy as np

In [ ]:
new_df[]